.App {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
  }

  .App .container {
      padding-top: 20px;
  }
  
  .App footer {
    font-size: 11px;
    margin: 10px 0;
  }

  .App footer a {
      color: orange;
  }

  .App footer a:hover {
      color: gray;
  }