.Weather {
    font-family: 'Rubik', sans-serif;
    border: none;
    padding: 16px;
    border-radius: 6px;
    color: rgb(135, 135, 135);
  }
  
  .Weather h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 0 0;
    line-height: 29px;
    color: orange;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 65px;
    line-height: 60px;
    margin-left: 5px;
    font-weight: 400;
  }
  
  .Weather canvas {
    margin: 15px auto;
  }
  
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }